# Ignore everything...
*

# ... except...
!.gitignore
!Preferences.sublime-settings
!Package Control.sublime-settings
!Default (OSX).sublime-keymap
!SendCode.sublime-settings
!Terminus.sublime-settings

